* {
  --main-bg-color: #5eb5d7;
  --text-color: #bbfaf0;
  --second-color: #84eded;
  --light-color: #f3fffc;
  --dark-color: #4365b3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.news-card {
  font-family: Koho, sans-serif;
  display: flex;
  flex-direction: column;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  margin-left: 9rem;
  border-radius: 1rem;
  width: 30vw;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.2s ease-in;
  overflow: hidden;
  background-color: whitesmoke;
  color: var(--dark-color);
  opacity: 80%;
}

.news-card:hover {
  border: 2px solid var(--main-bg-color);
  opacity: 100%;
}

.image-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-height: 40%;
  max-width: 100%;
  overflow: hidden;
}

.news-image {
  height: 100%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.bottom-container {
  max-width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  padding: 1rem;
}

.news-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

.news-description {
  padding: 1rem;
}

.news-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-arrow {
  position: relative;
  background-color: transparent;
  color: var(--dark-color);
  border: none;
  width: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms;
}

.news-arrow:hover,
.news-arrow:focus {
  opacity: 1.5;
  transform: scale(1.5);
}

.news-arrow-prev {
  right: 0;
  padding-right: 0.2rem;
}

.news-arrow-next {
  right: 0;
  padding-right: 0.2rem;
}

.news-link {
  font-family: Koho, sans-serif;
  text-decoration: none;
  font-weight: 0;
  font-size: 14px;
  color: white;
  background-color: var(--main-bg-color);
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.news-link:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: var(--dark-color);
  color: white;
  border: none;
}
