* {
  --main-bg-color: #5eb5d7;
  --text-color: #bbfaf0;
  --second-color: #84eded;
  --light-color: #f3fffc;
  --dark-color: #4365b3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px var(--dark-color);
  margin: 1rem 2rem 1rem 11rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 40vw;
  height: 80vh;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.news-card:hover {
  border: 1px solid var(--main-bg-color);
}

.image-container {
  width: 100%;
  max-height: 40%;
  max-width: 100%;
  overflow: hidden;
}

.bottom-container {
  max-width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  padding: 1rem;
}

.news-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

.news-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.news-arrow {
  position: relative;
  background-color: transparent;
  color: var(--dark-color);
  border: none;
  width: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms;
}

.news-arrow:hover,
.news-arrow:focus {
  font-weight: bolder;
  opacity: 1.5;
  transform: scale(1.5);
  color: var(--main-bg-color);
}

.news-arrow-prev {
  right: 0;
  padding-right: 0.2rem;
}

.news-arrow-next {
  right: 0;
  padding-right: 0.2rem;
}

.news-link {
  text-decoration: none;
  font-weight: 0;
  font-size: 14px;
  color: white;
  background-color: var(--main-bg-color);
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.news-link:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: var(--dark-color);
  color: white;
  border: none;
}
