.TeamList {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

label {
  padding-left: 1rem;
}

.radio-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto 20px auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 80px;
  font-size: 1.5rem;
  padding: 20px auto;
  color: white;
  font-family: "KoHo", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
  list-style-type: none;
}

.radio-container li {
  padding: 0;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -13px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -13px;
  left: -1px;
  position: relative;
  background-color: #5eb5d7;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.greatTeamMembers {
  padding: 5px 5px;
  list-style-type: none;
}

.global-container {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.close-teamInfo {
  width: 0%;
}

.open-teamInfo {
  background-color: rgb(9, 6, 222);
  width: 100%;
  height: 150px;
}

.smallTeamMembers ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.greatTeamMembers ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0;
}

.btn-toggle {
  border-radius: 20px;
  width: 140px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #5eb5d7;
  text-transform: uppercase;
  font-weight: 900;
  border: black solid 2px;
  transition: all 0.1s ease;
}

.btn-toggle:hover {
  background-color: #86d0ed;
}

.btn-toggle:active {
  background-color: #027aa9;
  scale: 1.02;
}

.member-button {
border: solid black 0px;
background-color: #00000000;
width: 220px;
margin: 10px;
}

/* -------------------------   MODAL  -------------------------------- */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #393939;
  padding: 30px 28px;
  border-radius: 20px;
  height: 80vh;
  width: 80%;
  transition: all 1s ease;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 7px;
  background-color: #027aa9;
  border: #393939 solid 3px;
  border-radius: 10px;
}

.close-modal:hover {
  background-color: #1da9e0;
  scale: 1.05;
}
