.weather-widget-container {
  width: 30vw;
  height: 50vh;
  background: #263238;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  border-radius: 1rem;
  margin: 1rem auto;
  color: var(--text-color);
}

#current-weather {
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  margin-bottom: -1rem;
  color: var(--text-color);
}

.top,
.bottom {
  display: flex;
  align-items: center;
  /*justify-items: center;*/
}

.top div,
.bottom div {
  margin: 1rem;
}

.feels-like,
.humidity,
.wind,
.pressure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.label {
  font-weight: bold;
  margin-right: 0.4rem;
}

p.content {
  font-size: 0.8rem;
}

span.min-temperature {
  color: dodgerblue;
}

span.max-temperature {
  color: crimson;
}

.degrees {
  font-size: 3rem;
  color: white;
}

.center {
  text-align: center;
  padding: 1rem;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
}

.content {
  color: orange;
}

@media screen and (max-width: 1024px) {
  .weather-widget-container {
    width: auto;
    height: auto;
    margin: 2rem;
  }
}
