.librarytitle {
  background-color: var(--second-color);
  width: 25vw;
  height: 12vh;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: transform 0.1s;
  margin-top: 7rem;
  margin-bottom: 2rem;
  margin-right: 2em;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.librarytitle:hover {
  -ms-transform: scale(1.5); /* IE 9  */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05);
}

.documents a {
  background-color: var(--main-bg-color);
  margin-top: 2rem;
  width: 25vw;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: transform 0.1s;
  padding: 0.8rem 0 1rem 0.8rem;
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
}

.documents a:hover {
  background-color: var(--dark-color);
}

.documents a:last-child {
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .documents a {
    font-size: 0.8rem;
    width: 70vw;
    height: 6vh;
  }

  .librarytitle {
    background-color: var(--dark-color);
    color: var(--light-color);
    width: 70vw;
    height: 9vh;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 0;
    margin-right: 0;
  }

  .documents a:hover {
    color: var(--light-color);
  }
}
