.Messages {
	max-height: 405px;
	overflow-y: auto;
	line-height: 1.3;
}

.Messages .picture-name-status {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.Messages .picture-name-status:hover {
	cursor: pointer;
}

.message-and-time {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Messages li {
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.Messages li p.message {
	font-size: 1rem;
	background-color: rebeccapurple;
	padding: 10px;
	border-radius: 10px;
	max-width: 300px;
	word-wrap: break-word;
	align-self: flex-start;
}

.time-and-date {
	font-size: 0.7rem;
	text-align: left;
	margin: 4px 15px;
	color: deeppink;
	font-weight: bold;
}
