@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400;700&family=Montserrat:wght@300;400;500;600;700&family=Titillium+Web:wght@300;400;700&family=Work+Sans:wght@400;700&display=swap");

/* Reset CSS Anday Bell */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    scrollbar-width: thin;
  }
}

body {
  background-image: url("./src/assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
  font-family: Koho, sans-serif;
}

:root {
  --main-bg-color: #5eb5d7;
  --text-color: #bbfaf0;
  --second-color: #84eded;
  --light-color: #f3fffc;
  --dark-color: #4365b3;
}

.containerlibrary {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 10rem;
}
.please-container {
  margin-top: 10rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.logout-btn {
  background-color: #ffffff;
  border: 1px solid var(--dark-color);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Koho", sans-serif;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 1rem;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.submit-btn:hover {
  border: 1px solid var(--main-bg-color);
  color: rgb(86, 179, 86);
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.right-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.login-container {
  padding: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-header h1 {
  font-size: 3.5rem;
}

@media (max-width: 600px) {
  .containerlibrary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .left-home-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .right-home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
