header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 7rem;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 50%;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

span#title {
  color: deepskyblue;
}
