/* --------------------------------------------------- General */

.Users {
  background-color: #212121;
  display: grid;
  font-size: 0.8rem;
  font-weight: bold;
  max-height: 515px;
  overflow-y: auto;
  border-radius: 1rem 0 0 1rem;
}

.Users ol li {
  margin-bottom: 8px;
}

.Users li {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 15px;
}

.Users li:hover {
  background-color: darkorange;
  cursor: pointer;
}

img.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.username-online,
.username-offline {
  margin-left: 10px;
  color: white;
}

/*.username-online:hover, .username-offline:hover {*/
/*	color: deeppink;*/
/*}*/

.username-online {
  color: white;
}

.username-offline {
  color: dimgray;
}

.status-online {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: green;
}

.status-offline {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: dimgray;
}

.name-status-container {
  display: flex;
  align-items: center;
}

.name-status-container.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Users {
    display: none;
  }
}
