.Messenger .Users {
  background-color: #212121;
  opacity: 80%;
  padding: 10px;
  display: grid;
  font-size: 0.8rem;
  font-weight: bold;
  max-height: 515px;
  overflow-y: auto;
  width: 250px;
  border-radius: 20px 0 0 20px;
  border: 2px solid var(--light-text-color);
  margin-bottom: 1rem;
}

.Users:hover {
  border: 2px solid var(--main-bg-color);
}

.Messenger .Users li {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 15px;
}

.Messenger .Users li:hover {
  background-color: darkorange;
  cursor: pointer;
}

.Messenger img.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.Messenger .username-online,
.Messenger .username-offline {
  margin-left: 10px;
  color: white;
}

.Messenger .username-online {
  color: white;
}

.Messenger .username-offline {
  color: dimgray;
}

.Messenger .status-online {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: green;
}

.Messenger .status-offline {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: dimgray;
}

.Messenger .name-status-container {
  display: flex;
  align-items: center;
}

.Messenger .name-status-container.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Messenger .Users {
    width: 250px;
  }
}
