.chart1-container {
  background-color: rgba(53, 53, 53, 0.584);
  backdrop-filter: blur(5px);
  color: white;
  border: 4px solid var(--light-color);
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  width: 32vw;
  margin-bottom: 1rem;
}

.chart1-container:hover {
  border: 4px solid var(--second-color);
}

.chart1 {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.chart1 canvas {
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .chart1-container {
    width: 100%;
    height: 50vh;
    margin-bottom: 4rem;
  }
  .chart1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
