.chart1-container {
  background-color: var(--light-color);
  backdrop-filter: blur(5px);
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  border: 1px solid var(--dark-color);
  width: 30vw;
  height: 30vh;
  margin: 1rem auto;
  margin-right: 2rem;
}

.chart1-container:hover {
  border: 1px solid var(--main-bg-color);
}

.chart1 {
  width: auto;
  height: auto;
}

@media screen and (max-width: 600px) {
  .chart1-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 40vh;
    margin: 1rem;
  }
  .chart1 {
    margin-left: 1rem;
    width: 100%;
    height: 100%;
  }
}
