.infoText-container {
  max-width: 80%;
  display: block;
  margin: 1rem;
  overflow: hidden;
}

.infoText {
  font-size: 1.2rem;
  color: var(--light-color);
  animation: defilement 25s infinite linear;
}
.infoText p span {
  color: var(--second-color);
  padding-left: 3rem;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@media (max-width: 600px) {
  .infoText-container {
    max-width: 90%;
  }
}
