.loginbox-container {
  border: 1px solid var(--dark-color);
  border-radius: 1rem;
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(5px);
}

.loginbox-container:hover {
  border: 1px solid var(--main-bg-color);
}

.loginbox-title {
  padding: 1rem;
}

.login-form {
  font-weight: bold;
  padding: 2rem;
}

.submit-btn {
  background-color: #ffffff;
  border: 1px solid var(--dark-color);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Koho", sans-serif;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 1rem;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.submit-btn:hover {
  border: 1px solid var(--main-bg-color);
  color: rgb(86, 179, 86);
}

@media screen and (max-width: 600px) {
  .loginbox-container {
    border: 1px solid var(--dark-color);
    border-radius: 1rem;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(5px);
  }
}
