.Messenger .Chat {
  background-color: #181818;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 15px;
  width: 450px;
  border-radius: 0 20px 20px 0;
  border: 2px solid var(--light-text-color);
  margin-bottom: 1rem;
}

.Chat:hover {
  border: 2px solid var(--main-bg-color);
}

@media only screen and (max-width: 600px) {
  .Messenger .Chat {
    background-color: #181818;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 15px;
    width: 300px;
  }
}
