
.Messenger {
	width: 32vw;
	height: 515px;
	display: flex;
	margin: 20px 0;
	justify-content: center;
	
	
}

@media only screen and (max-width: 600px) {
	.Messenger {
		width: 100%;
		height: 500px;
		
		
	}
}
